body{
    background: url(http://wp1.themexlab.com/wp/cards/wp-content/themes/cards/img/bg1.jpg);
    background-size: cover;


    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.42857143;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #ddd;
}

#icons i {
    color: white;
    background-color: #333333;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    line-height: 30px;
}

.card-main {
    padding: 0 2.3rem;
}

.card-main p {
    font-size: 13px;
}

#information-button {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    background: url(http://wp1.themexlab.com/wp/cards/wp-content/themes/cards/img/bg-btn.png) no-repeat center center #08aeac;
    transition: 0.6s;
}

#information-button p {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}


.card {
    background-color: white;
    background: url(http://wp1.themexlab.com/wp/cards/wp-content/themes/cards/img/bg-card2.png) repeat-x right top #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}